In [31]:
import pickle
import pandas as pd
data='advertising.csv'
df=pd.read_csv(data)

In [7]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [9]:
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [18]:
x=df[['TV']]
x

        TV
0    230.1
1     44.5
2     17.2
3    151.5
4    180.8
..     ...
195   38.2
196   94.2
197  177.0
198  283.6
199  232.1

[200 rows x 1 columns]

In [19]:
y=df.Sales
y

0      22.1
1      10.4
2      12.0
3      16.5
4      17.9
       ...
195     7.6
196    14.0
197    14.8
198    25.5
199    18.4
Name: Sales, Length: 200, dtype: float64

In [21]:
from sklearn.linear_model import LinearRegression
linear=LinearRegression()

In [22]:
linear.fit(x,y)

LinearRegression()

In [24]:
linear.intercept_ # intercept is called the c value

6.9748214882298925

In [26]:
linear.coef_ # coeificient means the m values in the straight line

array([0.05546477])

In [27]:
file='linear_reg.sav'

In [37]:
pickle.dump(linear, open(file, 'wb')) # store the model in the form of pickel that means equation store like y=mx+c

In [38]:
linear.predict([[45]])

array([9.47073616])

In [39]:
l=[5,5,6,7,89,34,45,67,23]

In [40]:
for i in l:
    print(linear.predict([[i]]))

[7.25214534]
[7.25214534]
[7.30761011]
[7.36307488]
[11.91118606]
[8.86062368]
[9.47073616]
[10.69096111]
[8.25051121]

In [42]:
saved_model=pickle.load(open(file, 'rb'))

In [43]:
saved_model.predict([[45]])

array([9.47073616])

In [45]:
linear.score(x,y) # 81 perce3nt accuracy

0.8121757029987414